body {
  background-color: #ccc;
}

h1 {
  font-family: 'Rubik', monospace;
  color: #e34e45;
}

form {
  border: 1px solid black;
  max-width: 350px;
}

.headercontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}